{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{! The main content area on the homepage }}
<main class="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{#author}}
                    <div class="author-bio well">

                        <img class="author-image img-responsive img-circle center-block" src="{{image}}" />

                        <div class="author-text-bio">
                            <h4 class="author-name text-center"><a href="{{url}}">{{name}}</a></h4>
                            <p class="author-bio">{{bio}}</p>
                        </div>
                        <div class="author-meta">
                            <h4>Contact</h4>
                            <table>
                                {{#if twitter}}
                                    <tr>
                                        <td>
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </td>
                                        <td><a href="{{twitter_url}}">{{twitter}}</a>
                                        </td>
                                    </tr>
                                {{/if}}
                                {{#if facebook}}
                                    <tr>
                                        <td>
                                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                        </td>
                                        <td><a href="{{facebook_url}}">{{facebook}}</a>
                                        </td>
                                    </tr>
                                {{/if}}
                                {{#if website}}
                                    <tr>
                                        <td>
                                            <i class="fa fa-globe" aria-hidden="true"></i>
                                        </td>
                                        <td><a href="{{website}}">{{website}}</a>
                                        </td>
                                    </tr>
                                {{/if}}
                                {{#if location}}
                                    <tr>
                                        <td>
                                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        </td>
                                        <td>{{location}}
                                        </td>
                                    </tr>
                                {{/if}}
                            </table>
                        </div>
                    </div>

                {{/author}}
            </div>
            <div class="col-md-8 article-container">
                <div class="article-list">
                    {{#foreach posts}}
                        <div class="row list-item">
                            {{#if image}}
                                <div class="col-md-3">
                                    <a href="{{url}}"><img class="list-image" src="{{image}}" title={ {title}} /></a>
                                </div>
                                <div class="col-md-9">
                            {{else}}
                                <div class="col-md-12">
                            {{/if}}
                            <article class="{{post_class}}">
                                <header class="post-header">
                                    <h2 class="post-title">
                                <a href="{{url}}">{{{title}}}</a>
                            </h2>
                                    <div class="post-meta text-muted">
                                        {{#if author}}<span class="list-author">{{author}}</span> - {{/if}}
                                        <time datatime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
                                    </div>
                                </header>
                                <section class="post-excerpt">
                                    <p>{{excerpt}}&hellip; <a href="{{url}}">more</a></p>
                                </section>
                            </article>
                            </div>
                            </div>
                    {{/foreach}}
                    </div>
                </div>
            </div>
            {{!! After all the posts, we have the previous/next pagination links }}
            {{pagination}}
        </div>
</main>