{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}

{{! The main content area on the homepage }}
{{navigation}}
<header class="home-header">
    {{#if @blog.logo }}
    <img class="logo" src="{{@blog.logo}}"/>
    {{else}}
    <h1>{{@blog.title}}</h1>
    {{/if}}
    {{#if @blog.description}}
    <div class="blog-description">
        {{@blog.description}}
    </div>
    {{/if}}
</header>
<main class="content" role="main">
    <div class="container-sm">
        <div class="article-list">
            {{#foreach posts}}
            {{> post-list}}
            {{/foreach}}
        </div>
        {{pagination}}
    </div>
    {{!! After all the posts, we have the previous/next pagination links }}
</main>
